<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="create-blog content">
                <form action="/bots/add-bot" method="POST" >
                    <label for="name">Bot name:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="port">Port number:</label>
                    <input type="text" id="port" name="port" required>
                    <input type="hidden" name="status" value="false" required>
                    <label for="discord_access">Discord Access:</label>
                    <select name="discord_access" id="discord_access">
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </select>
                    <br>
                    <button>Create</button>
                </form>
            </div>
    </body>

</html>