<html>

<div class="blogs content">
    <label for="brain-select">Select a brain:</label>
    <select name="brain" id="brain-select">
        <option value="">--Please choose a brain--</option>
        <% if (brains.length> 0) { %>
            <% brains.forEach(brain=> { %>
                <option value=<%=brain%>><%=brain.name%></option>
                <% }) %>
                    <% }%>
    </select>
</div>

</html>