<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
        <center>
            <h3> Welcome to our Chat Bot service</h3>
            <div class="blogs content">
                <img class="irc_mi aligncenter" src="https://media.giphy.com/media/3mfxH0nbfVFLt1gTpq/giphy.gif" alt="Image result for robot gif" width="480" height="270" scale="0">
            </div>
        </center>

    </body>

</html>